singularity.autoMounts = true
singularity.enabled = true

process {
    cache = true
    stageInMode='symlink'
    stageOutMode='rsync'
    
    withName: getQuast {
   	container='docker://quay.io/grbot/quast:latest'
    }

    withName: runMultiQC {
   	container='docker://ewels/multiqc:latest'
    }
}

params {

    project_name = "refgraphTryp"
    sample_sheet = "/path/to/samplesheet.tsv"
    out_dir = "/cbio/projects/008/refgraph/qc/"
    ref = "/cbio/dbs/gatk/hg38/Homo_sapiens_assembly38.fasta"
    nt = 16 // number of threads

}

executor{
    jobName = { "$task.tag" }
}

profiles{
    standard {
        process.executor = 'local'
        cpus = 4
    }

   pbs {
        process.executor = 'pbs'
        process.queue = 'dev'
        process.clusterOptions = '-M gerrit.botha@uct.ac.za -m abe -l walltime="24:00:00"'
        process.maxRetries = 5
        process.errorStrategy = 'retry'
    }

    slurm {
        process.executor = 'slurm'
        process.queue = 'Main'
        process.time = 96.h
        process.errorStrategy = 'retry'
      	process.maxRetries = 5
      	process.maxErrors = 1000
        process.clusterOptions = '--account b88-cbio-008-ag'
    }
}
